*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(169, 244, 255);
}
#card{
    height: 500px;
    width: 400px;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#card #top{
    height: 45px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: solid 1px black;
    h1{
        font-family:Arial, Helvetica, sans-serif;
        
    }
}
#allstatus{
    width: 100%;
    height: 93.5%;
    overflow: auto;
    
}
#allstatus .onestatus{
    width: 100%;
   height: 70px;
    display: flex;
    align-items: center;
    padding:10px ;
    gap: 20px;
    position: relative;
}
#profilephoto{
    pointer-events: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    border: solid 3px rgb(57, 154, 57);
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

}
#info{
    pointer-events: none;
    h3{
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 40;
    }
}
#allstatus::-webkit-scrollbar {
    /* width: 8px; */
    display: none;
}

/* #allstatus::-webkit-scrollbar-thumb {
    background-color: rgb(186, 245, 159);
    border-radius: 4px; 
} */
#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: none;
    .onestatus{
        display: flex;
        gap: 10px;
    }
    #info{
        color: #fff
    }
    #profilephoto{
        border:none ;
        width: 50px;
        height: 50px;
    }
}
#growth{
  
    height: 3px;
    background-color: rgb(192, 192, 192);
    border-radius: 100px;
   margin-left: 10px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
}
#grow{
    height: 100%;
    width: 0;
    background-color:rgb(246, 254, 255);
    border-radius: 100px;
}

