*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 30px;
    font-size: 25px;
    background-color:rgb(19, 190, 133);
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
button:active{
    scale: 0.96;
}