*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#cards{
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url(https://images.unsplash.com/photo-1521229503786-cae30070bf02?q=80&w=2786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:  bottom;
}

#card{
    width: 350px;
    height: 450px;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.51);
}

#card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.5s;    
}

#card:hover img{
    transform: scale(1.5);  
}
h1{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(255, 255, 255, 0.766);
    font-size: 50px;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.388);
    text-align: center;
    
}